body.-toc aside.toc.sidebar {
  display: none;
}

@media screen and (--ids-breakpoints-xs-s) {
  aside.toc.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }
}

@media screen and (--ids-breakpoints-m) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    flex: 0 0 var(--toc-width);
    order: 1;
  }
}

@media screen and (--ids-breakpoints-l) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
}
